<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Vue To Do List</title>
</head>
<body class="bg-secondary">
    
    <div class="container vh-100" id="app">
        
        <div class="row mt-5 justify-content-between">
            <div class="col-3 sc-logo ">
                <img src="img/logo.png" alt="">
            </div>
            <div class="col-6 d-flex align-items-start align-content-center flex-wrap">
                <div class="input-group flex-nowrap flex-shrink-1">
                    <input v-model="inputString" type="text" class="form-control" placeholder="New Task"  aria-describedby="addon-wrapping">
                    <button type="button" @click="addTask(inputString)" class="btn btn-primary">Add</button>
                </div>
                <p class="text-danger w-100">{{inputError}}</p>
            </div>
        </div>
        
        <div v-if="taskArr.length > 0" class="row mt-5">
            <div class="col">
                <table class="table bg-light sc-table">
                    <thead>
                        <tr>
                        <th colspan="2" cope="col">Task</th>
                        <th scope="col" class="text-end text-danger">{{deleteTaskError}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for:="(task, index) in taskArr" >
                        <td colspan="2" @click="task.done = !task.done" :class="{'text-decoration-line-through' : task.done}">{{task.text}}</td>
                        <td class="text-end" @click="removeTask(index)"><i class="bi bi-trash3"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-5" v-else>
            <p class="text-danger">Non ci sono task attive</p>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>